# Python temporary files
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/
.virtual_documents/

# Temporary Microsoft Office files
~$*.xlsx
~$*.xls
~$*.docx

# Operating-system files
.DS_Store
Thumbs.db

data_input/
*.shp
*.dbf
*.shx
*.prj
*.cpg

# Python packaging
build/
dist/
*.egg-info/

# Python cache
__pycache__/
*.pyc

CAVA_data/
PyAEZ3.0/data_output/
data_output/