PyAEZ3.0/data_input/*.tif filter=lfs diff=lfs merge=lfs -text
PyAEZ3.0/data_input/**/*.tif filter=lfs diff=lfs merge=lfs -text
PyAEZ3.0/example_input_data.7z filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
# Binary scientific and geospatial files
*.shp -text
*.shx -text
*.dbf -text
*.sbn -text
*.sbx -text
*.npy -text
*.h5 -text
*.xlsx -text
*.xls -text
*.pdf -text
*.png -text
PyAEZ3.0/data_output/
*.7z filter=lfs diff=lfs merge=lfs -text
